.container {
  position: relative;
}

.div1 {
  position: relative;
  z-index: 1;
  border: 2px solid black;
  height: 100px;
  margin: 30px;
  background: lightblue;
}

.div2 {
  position: absolute;
  z-index: 2;
  background: lightgray;
  border: 2px solid black;
  height: 60px;
  width: 70%;
  left: 50px;
  top: 50px;
}

.div3 {
  position: absolute;
  z-index: 1;
  background: lightgreen;
  border: 2px solid black;
  width: 35%;
  left: 270px;
  top: -15px;
  height: 100px;
}
